/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2013, 19:07:54
    Author     : libert
*/

body {
    background-color:white;
    color:black;
    font-size:100%;
    font-family:Georgia, serif;
    border:0px;
    margin:0px;
    padding:0px;
}

a {
    text-decoration:none;
} 

p {
    font-size:1em;   
    border:0px;
    margin:0px;
    padding:0.5em;
}

#containerCabecalho {
    background-color:white;
    color:black;
    margin:0px;
    padding:0px;
    width:100%;   
}

#cabecalhoTitulo {
    float:left;       
    // outline: yellow solid thin;
}

#cabecalhoTitulo h1{
    font-family:georgia, serif;
    font-size:2.5em;
    text-align:left;
    border:0px;
    margin:0px;
    padding:0.5em;    
}

#cabecalhoLogin {
    float:right;    
    text-align:right;
    // outline: yellow solid thin;    
}

#containerMenuHorizontal{
    background-color:black;
    color:white;
    border:0px;
    margin:0px;
    padding:0px;
    width:100%;
    clear:both;
    float:left;
}

.menuHorizontal{
    float:left;
    width:100%;
    //background:#fff;
    //border-bottom:4px solid white;
    position:relative;
}

.menuHorizontal ul{
    clear:left;
    float:right;    
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    text-align:center;
}

.menuHorizontal ul li{
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
}

.menuHorizontal ul li a{
    display:block;
    margin:0 0 0 0px;
    padding:3px 10px;
    background:black;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    line-height:1.3em;
}

.menuHorizontal ul li a:hover,
.menuHorizontal ul li a:active{
    background-color:dimgray;
}

.menuHorizontal ul li a.active,
.menuHorizontal ul li a.active:hover {
   color:black;
   background:white;
   font-weight:bold;
}

#containerConteudo {
    //outline: red solid thin;
    background-color:black;
    color:white;
    border:0px;
    margin:0px;
    padding:0px;
    width:100%;
    clear:both;
    float:left;
}

#containerConteudo form input[type=text],
#containerConteudo form input[type=password]
{
    width:12em;
    border:none;
    font-size:1em;
    font-family:Georgia, serif;
}

#containerConteudo h1{
    font-size:1.5em;
    text-align:left;
    border:0px;
    margin:0px;
    padding:1em 0em 0em 0em;
}

#containerConteudo h2{
    font-size:1.2em;
    font-style:italic;
    text-align:left;
    border:0px;
    margin:0px;
    padding:0em 0em 1em 2em;
}

#containerConteudo a:link{
    color: white;
    font-weight: bold;
}
#containerConteudo a:hover{
    color: white;
    font-weight: lighter;
}
#containerConteudo a:visited{
    color: white;
    font-weight: bold;
}
#containerConteudo a:active{
    color: black;
    font-weight: bold;
}

#containerConteudo form{
    text-align: center;
    //outline: yellow solid thin;
}

#conteudoEsq{
    float:left;
    background-color:black;
    margin: 0.5em 0em 0.5em 0em;
    
    padding-right:1.5%;
    width:48.5%;
    border-right:2px solid grey;
}

#conteudoDir{
    float:right;
    width:48.5%;
    padding-left: 1%;
}

#conteudo h1{
    text-align: center;
}

#containerRodape {
    background-color:white;
    color:black;
    border:0px;
    margin:0px;
    padding:0px;
    width:100%;
    clear:both;
    text-align:center;
    font-size:1em;
    
}

.leiauteColunaPrincipal{
    margin-left:auto;
    margin-right:auto;
    max-width:960px;
    min-width:50em;
    width:90%;
    //outline: yellow solid thin;
}

.paiCaixaErro{
    position:relative;
}

.caixaErro{
    color:red;
    position:absolute;
    top:50%;
    margin-top:-0.5em;
    padding-left:1em;
}

#datepicker a:link{
    color:#555555;
}