/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2013, 19:07:54
    Author     : libert
*/

body {
    background-color:white;
    color:black;
    font-size:1em;
    font-family:Georgia, serif;
    border:0px;
    margin:0px;
    padding:0px;
}

a {
    text-decoration:none;
} 

p {
    font-size:0.875em;   
    border:0px;
    margin:0px;
    padding:0.5em;
}

#containerCabecalho {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;   
}

#cabecalhoTitulo {
    float: left;       
    outline: yellow solid thin;
    display: table-cell;    
    display: inline-block;
    vertical-align: middle;    
}

#cabecalhoTitulo h1{
    font-family: georgia, serif;
    font-size:2.5em;
    text-align: left;
    border:0px;
    margin:0px;
    padding:0.5em;    
}

#cabecalhoLogin {
    float: right;    
    text-align: right;
    outline: yellow solid thin;
    vertical-align: middle;    
}


#containerConteudo {
    outline: red solid thin;
    background-color: black;
    color: white;
    border:0px;
    margin:0px;
    padding:0px;
    width: 100%;
    clear: both;
    float: left;
}

#conteudo{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 480px;
    width: 90%;    
}

#conteudoEsq{
    float: left;
    background-color: black;
    border-right: medium solid white;
    width: 40%;
}

#conteudoDir{
    float: right;
    width: 40%;

}

#containerRodape {
    background-color: white;
    color:black;
    border:0px;
    margin:0px;
    padding:0px;
    width: 100%;
    clear: both;
    outline: yellow solid thin;
}

.leiauteColunaPrincipal{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 480px;
    width: 90%;    
}