/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/01/2014, 11:36:57
    Author     : libert
*/

.tabelaReservas{
    float: left;
    position: relative;
    width: 100%;
    outline: blue solid thin;
}
.trContainer{
    text-align: center;
    float: right;
    position: relative;
    right: 50%;
    font-size: 0.75em;
}

.trBg{
    float: left;
    position: relative;
    left: 50%;
    //outline: black solid thin;
    padding: 1em;
    //background-color: #ccc;
}

.trContainer ul{
    float: left;
    list-style:none;
    margin:0;
    padding: 0em 0em;
}
.trContainer ul li{
    height: 3em;
    line-height: 3em;
}
.trContainer ul .trListaHorasOffset{
    height: 1.5em;
}

.trIndisponivel{
    background-color: #006699
}

.trReservado{
    background-color: gray;
}

.trRegistro{
    position: absolute;
    width: 100%;
    border-bottom: thin dotted white;
    border-top: thin dotted white;
}

.trConteudo{
    float: left;
}
div.trColQuadra{
    margin-left: 0.5em;
    position: relative;
    float: left;
    height: 74.5em; //2.5em+3*24
    min-width: 8em;
}
div.trNomeQuadra{
    outline: black thin solid;
    background-color: #555;
    padding: 0.75em;
    font-size: 1em;
    color: #ffffff;
}
div.trColUlt{
    float: left;
    width: 4em;
    padding: 0.25em;
}
a.trBtnNovaQuadra{
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 2em;
}
a.trBtnFechaQuadra{
    width: 1em;
    height: 1.1em;
    line-height: 1.1em;
    font-size: 0.7em;
    position: absolute;
    top: 0px;
    right: 2px;
}
a.tr{
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a:hover.tr,
a:hover.tr.trBtnNovaQuadra,
a.tr.trBtnNovaQuadra:active{
    color: black;
    background-color:white;
}
a.tr:hover{
    color: black;
}
a.tr:visited{
    color: white;
}